apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: k8s-resource
  name: k8s-resource
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: k8s-resource
    spec:
      containers:
      - image: registry.paas/library/k8s-resource:v2.1
        imagePullPolicy: Always
        name: k8s-resource
        ports:
        - name: k8s-resource
          containerPort: 9092
        env:
        - name: DBURL
          value: {{hostvars[groups['user_management'][0]]['ip']}}:32034
        - name: DBUSER
          value: root
        - name: DBPASSWORD
          value: {{mysql_root_password}}
        - name: DBNAME
          value: k8s_resource
