apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: kube-system
  labels:
    app: redis
spec:
  type: NodePort
  ports:
    - name: redis
      port: 6379
      protocol: TCP
      targetPort: 6379
      nodePort: 32093
  selector:
    app: redis
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: redis
  namespace: kube-system
  labels:
    app: redis
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - image: redis
        imagePullPolicy: IfNotPresent
        name: redis
      nodeSelector:
        kubernetes.io/hostname: {{ groups['resource-management'][0]}}
